:root {
    --background-color-light: #1b2735;
    --background-color-dark: #090a0f;
  }
  
  html {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(
      ellipse,
      var(--background-color-light) 0%,
      var(--background-color-dark) 100%
    );
  }
  
  canvas {
    position: absolute;
  }